#darkLightToggle {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;

}

/*DARK MODE*/

body.dark-mode {
  background-color: #111;
  color: #eee;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body.dark-mode table a {
  color: #eee;
}
body.dark-mode button:not(.navbar-toggler) {
  background-color: #eee;
  color: #111;
}
.table-dark {
  background-color: #111;
}

/*LIGHT MODE*/

body.light-mode {
  background-color: #eee;
  color: #111;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
body.light-mode table a {
  color: #111;
}
body.light-mode button:not(.navbar-toggler) {
  background-color: #111;
  color: #eee;
}


