<div ng-show="$ctrl.isObserved !== null" class="observedButtonContainer"
     ng-attr-title="{{$ctrl.isObserved? 'Remove from observed' : 'Add to observed'}}">
    <svg ng-show="$ctrl.isObserved === false" ng-click="$ctrl.addToObserved()"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         fill="#070" viewBox="0 0 100 100">
        <path d="M 55 0 l 0 45 l 45 0 l 0 10 l -45 0 l 0 45 l -10 0 l 0 -45 l -45 0 l 0 -10 l 45 0 l 0 -45" />
    </svg>
    <svg ng-show="$ctrl.isObserved === true" ng-click="$ctrl.removeFromObserved()"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         fill="#700" viewBox="0 0 100 100">
        <g transform="rotate(45, 50, 50)">
            <path d="M 55 0 l 0 45 l 45 0 l 0 10 l -45 0 l 0 45 l -10 0 l 0 -45 l -45 0 l 0 -10 l 45 0 l 0 -45" />
        </g>
    </svg>
</div>