<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game$</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.datatables.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-filter.min.js"></script>
    <script src="./js/angular-datatables.min.js"></script>
    <script src="./js/datatables.bootstrap4.min.js"></script>
	<script src="./js/dark_light.js"></script>
    <link rel="stylesheet" href="./css/datatables.bootstrap4.min.css">
	<link rel="stylesheet" href="./css/dark_light.css">	
	
	<meta id="signInMeta" name="google-signin-client_id">
	<script>
		var meta = document.getElementById("signInMeta");
		switch(window.location.hostname) {
			case "imatty.github.io":
				meta.content = "1008872979554-m83dtbdte9j56b79hc4niact6vckkvnu.apps.googleusercontent.com";
				break;
			case "rainbow.nazwa.pl":
				meta.content = "1008872979554-fl0anjm15o3jbikaa2mrocicl2cou16a.apps.googleusercontent.com";
				break;
			case "www.resourceries.com":
				meta.content = "1008872979554-c5a5qejg95gbqhsak8frbl8cvik3rb79.apps.googleusercontent.com";
				break;
		}
	</script>
</head>

<body id="body" class="light-mode">


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="">
			<img src="img/logo.svg" alt="logo" />
		</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
				<li id="account" class="nav-item dropdown"></li>
            </ul>
        </div>
		<button id="darkLightToggle" style="position:fixed;bottom:1%;right:1%;z-index:10" type="button" class="btn btn-default" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">light</button>
    </nav>
	
    <div style="position:relative" class="container-fluid" ng-app="gamesApi">
        <div class="row" style="margin-top: 50px" ng-controller="steamApiCtrl">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="search" ng-model-options="{debounce: 800}">
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row" style="margin-top: 50px" ng-controller="galaxyApiCtrl">
            <div class="col-2"></div>
            <div class="col-8">
                <table datatable="ng" dt-options="dtOptions" class="table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Sale</th>
                            <th>Platform</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="!steamReady || !galaxyReady">
                        <tr ng-repeat="i in game | unique: 'app'">
                            <td>{{i.name}}</td>
                            <td>{{i.type}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.sale}}</td>
                            <td>{{i.platform}}</td>
                            <td>
                                <a target="_blanc" ng-href="{{i.link}}">Link</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-hide="steamReady && galaxyReady" class="progress" style="height: 24px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%; height: 24px"></div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
	
	<!-- Login Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login with Google!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<script src="js/googleLogin.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="./js/games-api.js"></script>
</body>
</html>