<!DOCTYPE html>
<html lang="en" ng-app="gamesApi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game$</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.datatables.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.min.js"></script>
    <script src="./js/angular-filter.min.js"></script>
    <script src="./js/angular-datatables.min.js"></script>
    <script src="./js/datatables.bootstrap4.min.js"></script>
    <script src="./js/games-api.js"></script>
    <script src="./js/dark_light.js"></script>
    <link rel="stylesheet" href="./css/datatables.bootstrap4.min.css">
    <link rel="stylesheet" href="./css/dark_light.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <script src="./js/firebase-app.js"></script>
    <script src="./js/firebase-auth.js"></script>
    <script src="./js/firebase-database.js"></script>
	
	<script src="./js/firebaseInitialize.js"></script>
	<script src="./js/firebaseui.js"></script>
	<link rel="stylesheet" href="./css/firebaseui.css">
	
	<script src="./js/firebaseuiAuth.js"></script>
	<script src="./js/loadingIcon/loadingIconModule.js"></script>
</head>

<body id="body" class="light-mode">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#/">
            <img style="margin-bottom:0.2em" src="img/logo.svg" alt="logo" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#/" data-toggle="modal" data-target="#contactModal">Contact</a>
                </li>
				<li class="nav-item">
					<loading-icon ng-show="!auth.loginReady"
							style="display:inline-block; padding-top:0.5em; height:1.5em; width:1.5em"
							data-color="'#eee'"></loading-icon>
					<div ng-show="auth.loginReady" class="ng-cloak">
						<a ng-if="auth.user === null" href="#/" class="nav-link" data-toggle="modal" data-target="#signInModal">Login</a>
						<a ng-if="auth.user != null" href="#/" class="nav-link dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{auth.user.displayName}}</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#/">My account</a>
							<a class="dropdown-item" ng-click="auth.signOut()" href="#/">Sign out</a>
						</div>
						
						<div class="modal fade" id="signInModal">
							<div class="modal-dialog">
								<div class="modal-content">

									<div class="modal-header">
										<h4 class="modal-title">Sign in</h4>
									</div>

									<div class="modal-body">
										<firebaseui-auth></firebaseui-auth>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
                </li>
            </ul>
        </div>
        <button id="darkLightToggle" type="button" class="btn btn-default" name="dark_light" data-toggle="tooltip" data-placement="left"
            title="Toggle dark mode">
            <i class='fa fa-lightbulb-o fa-2x'></i>
        </button>
    </nav>

    <div class="row justify-content-center">
        <div id="infoBar" class="mx-auto"></div>
    </div>

    <div ng-view></div>

    <div class="modal fade" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Contact us</h4>
                </div>
				<form action="" role="form" method="post" id="reused_form">
					<div class="modal-body">
						
							<p> Send your message in the form below and we will get back to you as early as possible.</p>

							<div class="form-group">
								<label for="name">Nickname: </label>
								<input type="text" class="form-control" name="name" />
							</div>
							<div class="form-group">
								<label for="email">E-mail: </label>
								<input type="email" class="form-control" name="email" />
							</div>
							<div class="form-group">
								<label>Your message: </label>
								<textarea name="message" type="text" class="form-control" /></textarea>
							</div>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="btnContactUs">Send</button>
						<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
					</div>
                </form>
            </div>
        </div>
    </div>

    <script src="./js/contact.js"></script>
</body>

</html>