.table-style {
    margin-top: 50px;
    margin-bottom: 50px;
}
.table-style img {
    height: 50px;
    width: 107px;
}
.table-style .table td, .table th {
    vertical-align: baseline !important;
}
.table-loader-show {
    margin: 0 auto;
    border: 16px solid #f7f7f7;
    border-top: 16px solid #007bff; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.table-loader-hide {
    display: none !important;
}
.table-zero-show {
    margin: 0 auto;
    text-align: center;
}
.table-zero-show > span {
    font-size: 2em;
    font-weight: bold;
    color: #7e7e7e;
}
.table-zero-hide {
    display: none !important;
}
.table-show {

}
.table-hide {
    display: none !important;
}