.table-style {
    margin-top: 3em;
    margin-bottom: 4em;
}
.table-style img {
    height: 3.5em;
    width: 7em;
}
.table-style .table td, .table th {
    vertical-align: baseline !important;
}
.table-zero {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #7e7e7e;
}