<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SteamAPI test</title>
    <script src="./js/angular.min.js"></script>
</head>

<body>
    <div ng-app="steamApi" ng-controller="steamApiCtrl">
        Name:
        <input ng-model="search" ng-model-options="{debounce: 500}">
        <p ng-repeat="x in name">{{x}}</p>
    </div>

    <script>
        const KEY = "9D1A445A5B8F4437A230DD304D33F4D1";
        var appList = [];
        var filteredList = [];

        var app = angular.module("steamApi", []);
        app.controller("steamApiCtrl", function($scope, $http, $filter) {
            $scope.search = "";
            getList();
            $scope.$watch("search", function() {
                fetch();
            });
            

            function getList() {
                $http.get("http://api.steampowered.com/ISteamApps/GetAppList/v0002/?key=" + KEY + "&format=json")
                .then(function(response) {
                    appList = response.data.applist.apps;
                })
                .catch(function(error) {
                })
            };

            function fetch() {
                if($scope.search.length >= 3) {
                    filteredList = $filter("filter")(appList, {name: $scope.search});
                    $scope.name = filteredList.map(id => id.appid);
                } else {
                    $scope.name = [];
                }
            };
        });
    </script>
</body>

</html>